/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*----start-iporting-fonts---*/
/*----ptsans_bold_macroman----*/
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----//ptsans_bold_macroman----*/
/*---ptsans_regular_macroman---*/
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---//ptsans_regular_macroman---*/
/*----//End-iporting-fonts---*/
body{
	background:#FFFFFF;
	 font-family: 'pt_sansregular';
}
/*---start-wrap---*/
.wrap{
	width:70%;
	margin:0 auto;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
/*-----stat-header----*/
.top-header {
	padding: 4em 0 4em;
}
.logo{
	float:left;
}
.logo a{
	color: #FFF;
	font-size: 2em;
	font-family: 'pt_sansbold';
	text-shadow: 0px 1px 5px #635E5E;
	-webkit-text-shadow: 0px 1px 5px #635E5E;
	-moz-text-shadow: 0px 1px 5px #635E5E;
	-o-text-shadow: 0px 1px 5px #635E5E;
}
.logo a span{
	height:3px;
	width:20%;
	background:#E8432E;
	display:block;
}
.top-nav{
	float:right;
}
.right_bt span{
	width: 40px;
	height: 40px;
	display: block;
	background: url(../images/image-sprite.png) no-repeat -3px -124px;
}
.top-bannar{
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	border-bottom: 5px solid #E8432E;
	background-size: cover;
}
/*--header-welcome-note--*/
.header-welcome-note h2{
	font-size: 3.5em;
	color: #FFF;
	font-family: 'pt_sansbold';
	width: 61%;
	line-height: 1.2em;
	margin: 2.5em 0 1em;
	text-shadow: 0px 0px 5px #474747;
	-webkit-text-shadow: 0px 0px 5px #474747;
	-moz-text-shadow: 0px 0px 5px #474747;
	-o-text-shadow: 0px 0px 5px #474747;
}
.header-welcome-note a{
	color: #fff;
	font-family: 'pt_sansbold';
	font-size: 1.3em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.header-welcome-note a:hover{
	color:#E8432E
}
.header-welcome-note a:hover span{
	background: url(../images/image-sprite.png) no-repeat -2px -194px;
}
.header-welcome-note a span{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/image-sprite.png) no-repeat -5px -250px;
	vertical-align: middle;
	margin-right: 0.3em;
}
/*--//header-welcome-note--*/
.box{
	position:fixed;
	top:-1200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
}
.box_content_center{
	background: rgba(232, 67, 46, 0.9);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.9em;
	right: 15em;
}
#activator {
}
.menu_box_list{
	display: inline-block;
	padding: 13.4em 0;
}
.menu_box_list ul li {
	display:block;
}
.menu_box_list li a{
	color: #FFF;
	font-size: 1.8em;
	display: block;
	padding: 0.3em;
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
}
.menu_box_list li a:hover{
	color:#000000;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.boxclose span{
	width:45px;
	height:45px;
	display:inline-block;
	background: url(../images/image-sprite.png) no-repeat -8px -369px;
}
.boxclose span:hover{
	background: url(../images/image-sprite.png) no-repeat -6px -308px;
}
/*-----//End-header----*/
/*---start-content---*/
.top-grids {
	padding: 5em 0 5.5em;
}
.top-frist a span{
	width:16px;
	height:14px;
	background: url(../images/image-sprite.png) no-repeat -90px -60px;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.5em;
}
.top-frist a{
	color:#000;
	font-size: 1em;
	font-family: 'pt_sansbold';
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.top-frist a:hover{
	color:#E8432E;
}
.top-grid{
	width: 23.5%;
	margin-right: 2%;
	float: left;
}
.top-grids h3{
	font-size: 1.5em;
	color: #000;
	font-family: 'pt_sansbold';
}
.top-grids h3 span{
	height: 3px;
	width: 2.5%;
	background: #E8432E;
	display: block;
}
.top-grid p.welcome-para{
	font-size: 1.2em;
	color: #999;
	width: 86%;
	margin: 2.4em 0 2em;
	line-height: 1.5em;
	font-family: 'Maven Pro', sans-serif;
}
.top-grid p{
	color: #999;
	font-size: 0.9em;
	width: 95%;
	line-height: 1.4em;
}
.top-grid h4{
	color: #000;
	font-size: 1.3em;
	margin: 0.5em 0 0.7em 0;
}
.top-grid h4 span{
	/*
    width: 90%;
    display: inline-block;
    text-align: center;
	vertical-align:middle;*/
	font-size: 2rem;
	position: relative;
    top: 3px;	
	text-shadow: 3px 3px 0px #eef, -3px -3px 0px #fffbbb;		
}
.icon1{
	background: url(../images/image-sprite.png) no-repeat -141px -3px;
}
.icon2{
	background: url(../images/image-sprite.png) no-repeat -80px -4px;
}
.icon3{
	background: url(../images/image-sprite.png) no-repeat -110px -5px;
}
.top-grid:nth-child(5){
	margin-right:0;
}
/*---featured-works---*/
.works{
	/*background:#E8432E;*/
		position: relative;
	background-image: url("/images/bg/EinPKO3.jpg");
	padding:5em 0;
}
.works h2{
	font-size: 2em;
	color: #fff;
	font-family: 'pt_sansbold';
}
.works h2 span{
	height: 3px;
	width: 2.5%;
	background: #fff;
	display: block;
}
.artical-info{
	float: left;
	width: 30%;
	text-align: left;
	padding:0 2%;
}
.artical-pic{
	float:right;
	width:60%;
	padding:0 2%;
}
.artical-info h4{
	color: #FFF;
	font-size: 1.3em;
	width: 85%;
	font-family: 'Maven Pro', sans-serif;
	line-height: 1.5em;
}
.artical-info p{
	font-size: 0.9em;
	color: #F5A298;
	line-height: 1.5em;
	margin: 2em 0 6em;
}
.artical-info a span{
	width:16px;
	height:14px;
	display:inline-block;
	background: url(../images/image-sprite.png) no-repeat -90px -39px;
	vertical-align:middle;
	margin-right:0.5em;
}
.artical-info a{
	color:#FFF;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.artical-info a:hover{
	color:#000;
}
.artical-pic-head-left{
	float: left;
	text-align: left;
}
.artical-pic-head-left a h4{
	color:#fff;
	font-size:1.2em;
}
.artical-pic-head-left span{
	color:#000;
	font-size:0.9em;
}
.artical-pic-head-right{
	float:right;
}
.artical-pic p{
	font-size: 0.9em;
	color: #F5A298;
	line-height: 1.5em;
	text-align: left;
	width: 78%;
	margin: 1em 0;
}
.artical-pic-head-right a label{
	width:20px;
	height:20px;
	display:inline-block;
	background: url(../images/image-sprite.png) no-repeat -209px -9px;
	vertical-align:middle;
	margin-right:0.5em;
}
.artical-pic-head-right a{
	color:#FFF;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.artical-pic-head-right a:hover{
	color:#000;
}
.artical-pic-head {
	padding: 0.5em 0 0;
}
.readmore span{
	width:16px;
	height:14px;
	display:inline-block;
	background: url(../images/image-sprite.png) no-repeat -90px -39px;
	vertical-align:middle;
	margin-right:0.5em;
}
.readmore{
	color: #FFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	text-align: left;
	display: block;
	font-size: 0.9em;
}
.readmore:hover{
	color:#000;
}
.artical-info1{
	float:right;
}
.artical-pic1{
	float:left;
}
/*----fea-video----*/
.fea-video{
	text-align: center;
	background: url(../images/video-bg.jpg) no-repeat 0px 0px;
	padding: 6.7em 0;
	background-size: 100% 100%;
}
.fea-video a{
	width:80px;
	height:80px;
	background: url(../images/image-sprite.png) no-repeat -1px -31px;
	display: inline-block;
	margin-bottom: 1em;
}
.fea-video p{
	color: #FFF;
	font-size: 1.5em;
	width: 34%;
	margin: 0 auto;
	font-family: 'Maven Pro', sans-serif;
	line-height: 1.5em;
	font-weight: 100;
}
/*----//fea-video----*/
/*----blog-info----*/
.blog-info h3{
	font-size: 2em;
	color: #000;
	font-family: 'pt_sansbold';
}
.blog-info h3 span{
	height: 3px;
	width: 2.5%;
	background:#E8432E;
	display: block;
}
.blog-info {
	padding: 4.5em 0;
}


/*----*/
.item-left{
	width: 24%;
	float: left;
	padding: 0 2% 0 0;
}
.item-left h4{
	color: #000;
	font-size: 1.5em;
	margin: 0.5em 0 0.7em 0;
}
.item-left p{
	color: #B9B9B9;
	font-size: 0.9em;
	width: 95%;
	line-height: 1.5em;
	margin: 2em 0 3em;
}
.item-left a span{
	width:16px;
	height:14px;
	background: url(../images/image-sprite.png) no-repeat -90px -60px;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.5em;
}
.item-left a{
	color:#000;
	font-size: 1em;
	font-family: 'pt_sansbold';
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.item-left a:hover{
	color:#E8432E;
}
.item-wrap{
	width:100%;
	padding-bottom: 2rem;
}

.item-center{
	width:50%;
	float:left;
}
.item-right{
	float:right;
	width:18%;
	padding:0 2%;
}
.blog-post-info-left{
	float:left;
	width:15%;
}
.blog-post-info-left span{
	display: block;
	color: #7F7F7F;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	border-bottom: 1px solid #eee;
	padding: 1em 0;
}
.blog-post-info-left span label{
	display: block;
	font-family: 'pt_sansbold';
	font-size: 2.2em;
	line-height: 0.8em;
	margin-top: 0.1em;
	color: rgba(127, 127, 127, 0.64);
}
.blog-post-info-right{
	float: right;
	width: 82%;
	border-left: 2px solid #F1F1F1;
	padding-left: 2%;
}
.more-info{
	color: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: block;
	margin-top: 2em;
}
.more-info:hover{
	color: #E8432E;
}
.more-info span {
	width: 16px;
	height: 14px;
	background: url(../images/image-sprite.png) no-repeat -90px -60px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}
.blog-post-info-left a{
	color: #A8A4A4;
	text-align: center;
	display: block;
	padding: 1em 0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.blog-post-info-left a small{
	width: 18px;
	height: 16px;
	background: url(../images/image-sprite.png) no-repeat -30px -4px;
	display: block;
	margin: 0 auto 0.5em;
}
.blog-post-info-left a:hover{
	color:#000;
}
.blog-post-info-left a:hover  small{
	background: url(../images/image-sprite.png) no-repeat -55px -5px;
}
.blog-post-info-right h4 a{
	color: #000;
	font-size: 1.5em;
	margin: 0.5em 0 0.2em 0;
	display: block;
}
.stats {
	margin-bottom: 0.5em;
}
.blog-post-info-right li{
	float:left;
}
.blog-post-info-right li a{
	color: #B9B9B9;
	font-size: 0.9em;
	padding: 0 0.3em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
} 
.blog-post-info-right li a:hover{
	color:#000;
}
.blog-post-info-right li span{
	color: #B9B9B9;
	margin-right: 0.3em;
}
.post-text{
	color: #A7A7A7;
	font-size: 0.9em;
	line-height: 1.5em;
}
.post-pic{
	border-bottom:3px solid #E8432E;
}
.item-right{
	background: #E8432E;
	padding: 2%;
	margin: 0 0 0 2%;
}
.quot{
	color: #FFF;
	font-size: 1.25em;
}
.item-right ul li{
	
}
.item-right ul li:first-child{
	float:left;
}
.item-right ul li:first-child a{
	color: #FFF;
	display: block;
	padding: 0.5em 0 0 0;
	font-size: 0.9em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.item-right ul li:first-child a:hover{
	color:#000;
}
.item-right ul{
	margin-top: 1.5em;
}
.item-right ul li:nth-child(2){
	float:right;
}
.item-right ul li:nth-child(2) span{
	width:30px;
	height:30px;
	display:block;
	background: url(../images/image-sprite.png) no-repeat 7px 12px;
}
/*---//featured-works---*/
/*--text-slider--*/
.test-monials-grids{
	padding: 4em 0;
	background: url(../images/people-say-bg.jpg) no-repeat 0px 0px;
	background-size: 100% 100%;
}
.test-monials {
	background: rgba(245, 245, 245, 0.34);
	border-bottom: 1px solid rgba(54, 59, 63, 0.07);
	padding-bottom: 3px;
}
.test-monials h3{
	font-size: 2em;
	color: #E14E3E;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'bebasregular';
}
.test-monials h3 span{
	color:#363B3F;
}
.slider {
    position: relative;
    zoom: 1;
}
.slider-nav {
    position: absolute;
    zoom: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.arrow {
    width: 42px;
    height: 175px;
    position: absolute;
    zoom: 1;
    top: 0;
}
.arrow span {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.arrow.disabled {
    opacity: 0.3;
    cursor: default;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}
.slider-mask-wrap {
    margin: 0 48px;
}
.slider-mask {
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.slider-target {
    width: 2000px;
    margin: 0 auto;
}
.slider ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slider li {
    float: left;
    margin: 0;
    padding: 0;
}
.slider .inner p{
    padding: 1.5em 0;
	height: 80%;
	width: 100%;
	font-size: 1.2em;
	color: #FFFFFF;
	display: block;
	text-align: center;
	margin: 0 auto;
	line-height: 1.6em;
	font-family: 'Maven Pro', sans-serif;
}
.test-auther {
	text-align: center;
	margin-top: 0em;
	/*background: url(../images/test-bg.png) no-repeat 50% 50%;*/
	padding-top:0em;
	padding: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);	
}
.test-auther p a{
	font-size: 0.9em;
	color: #FFFFFF;
	font-family: 'pt_sansregular';
	text-align: center;
	margin-bottom: 0.8em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.test-auther p a:hover{
	color:#E8432E;
}
.test-auther p label{
	font-size: 0.875em;
	line-height: 1.5em;
	color: #5c5c5c;
	 font-family: 'pt_sansregular';
}
.examples{
   padding: 0em 0 1em 0;
}
#menu span {
    white-space: nowrap;
}
#selector {
	text-align: center;
	margin: 3em 0 1em;
}
/* selector styling */
#selector a {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../images/image-sprite.png) no-repeat -139px -43px;
}
#selector a.current {
	background: url(../images/image-sprite.png) no-repeat -119px -43px;
}
#selector ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
#selector li {
	display: inline-block;
}

#menu span {
    white-space: nowrap;
}
/*---End-test-monials---*/
/*----start-get-intouch----*/
.get-intouch h3{
	font-size: 2em;
	color: #000;
	font-family: 'pt_sansbold';
	margin-bottom: 1.2em;
}
.get-intouch h3 span {
	height: 3px;
	width: 2.5%;
	background: #E8432E;
	display: block;
}
.get-intouch {
	margin: 5em 0 0;
}
.get-intouch-grids{
	
}
.get-intouch-left-address{
	float:left;
	width:22%;
	padding-right:2%;
}
.get-intouch-left-address h4{
	color: #000;
	font-size: 1.2em;
	margin: 0.5em 0 0.7em 0;
	width: 95%;
}
.get-intouch-left-address p,.get-intouch-left-address p a{
	color: #B9B9B9;
	font-size: 0.9em;
	line-height:1.6em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.get-intouch-left-address p a:hover{
	color:#E8432E;
}
.get-intouch-center-form{
	float: left;
	width: 66%;
	padding: 0 3% 0 1%;
}
.get-intouch-right-social{
	float: right;
	width: 6%;
	text-align: center;
	margin-top: 2em;
}
.get-intouch-center-form h5{
	font-size: 1.5em;
	color: #000;
	font-family: 'pt_sansbold';
	margin: 0.3em 0 1.2em 0;
}
.get-intouch-center-form input[type="text"],
.get-intouch-center-form input[type="email"],
.get-intouch-center-form input[type="password"] {
	width: 48.7%;
	color:#B9B9B9;
	border: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	outline: none;
	font-family: 'pt_sansregular';
	padding: 1em 0;
	font-size: 1em
}
.get-intouch-center-form input[type="text"]:focus,.get-intouch-center-form textarea:focus{
	color:#E8432E;
}
.get-intouch-center-form textarea{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	outline: none;
	font-family: 'pt_sansregular';
	padding: 0.5em 0;
	font-size: 1em;
	height: 40px;
	resize: none;
	color: #B9B9B9;
}
.frist{
	margin-right:2%;
}
.get-intouch-center-form input[type="submit"]{
	border: none;
	color: #000;
	font-family: 'pt_sansregular';
	float: right;
	font-size: 1em;
	background: url(../images/msg.png) no-repeat #fff 0% 50%;
	padding: 0em 0.2em 0 1.5em;
	outline:none;
	cursor:pointer;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	margin-top: 1em;
}
.get-intouch-center-form input[type="submit"]:hover{
	color:#E8432E;
}
.get-intouch-right-social ul li{
	display:block;
}
.get-intouch-right-social ul li a{
	width:32px;
	height:32px;
	display:block;
	margin: 0 auto;
	margin-bottom: 0.4em;
}
.be{
	background: url(../images/image-sprite.png) no-repeat -288px 2px;
}
.twitter{
	background: url(../images/image-sprite.png) no-repeat -288px -44px;
}
.dribble{
	background: url(../images/image-sprite.png) no-repeat -288px -87px;
}
.tree{
	background: url(../images/image-sprite.png) no-repeat -288px -133px;
}
.google{
	background: url(../images/image-sprite.png) no-repeat -288px -175px;
}
/*----*/
.map{
	border-bottom: 3px solid #E8432E;
	margin-top: 6em;
	height: 200px;
}
/*----copy-right----*/
.copy-right-left{
	float:left;
}
.copy-right-left p{
	color:#000;
}
.copy-right-left p span{
	color:#E8432E;
}
.copy-right-right{
	float:right;
}
.copy-right-right p{
	color:#000;
}
.copy-right-right p a{
	color:#E8432E;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.copy-right-right p a:hover{
	color:#000;
}
.copy-right {
	padding: 1em 0;
}
/*----*/
.map{
	padding:1.5em 0 0;
}

.bc-results {
	position: relative;
    top: 10px;	
	background-color: #851c1c;
	padding: 1em 2em;
	clear: both;
	display: none;
}

.bc-entry {
	position: relative;
	left: 125px;
}

.bc-entry-prefix {
    position: absolute;
    left: 2px;
	font-size: 35px;
	color:#fff;
}

.bc-entry-text {
	cursor: pointer;
	position: absolute;
	left:0;
	font-size: 35px;
	background: transparent;
	border: 0px solid transparent;
	color: transparent;
}

.bc-result-row {
	position: relative;
	float: left;
	padding:10px;
	margin:10px;
	margin-left: 0;
	margin-top: 0;
	height:150px;
	width:150px;
	height:150px;
	color:#fff;
}

.bc-result-row .background {
	background-repeat: no-repeat;
	background-size: cover;
	width:150px;
	height:150px;	
	position: absolute;
	top: 0;
	left:0;
	opacity: 0.3;
}

.bc-result-row h1 {
	font-size:18px;
	font-weight: bold;
}

.bc-result-row p {
}

.bc-result-row small {
}

.bc-result-row:hover {
	background-color: #c33636
}

.bc-entry-text:focus {
	border: none;
	outline: none;
}

.bc-entry-fancy {
	font-size: 35px;
}

.bc-entry-text:hover {
	visibility: visible;
}

.blinking-cursor {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/*----//End-get-intouch----*/
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/
/*----ptsans_bold_macroman----*/
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_bold_macroman/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----//ptsans_bold_macroman----*/
/*---ptsans_regular_macroman---*/
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---//ptsans_regular_macroman---*/
    #owl-demo .item{
       margin: 0.5em;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		padding: 1em;
		background: #fff;
    }
    #owl-demo .item img{
        display: block;
        height: auto;
    }
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}
/*-----*/
.item a{
}
.item a span{
	font-weight:600;
}
/*---//--*/
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	height:64px;
	width:39px;
	display:block;
	font-size: 12px;
	transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
	position: absolute;
	top: 22%;
	left: -18%;
	background: url(../images/image-sprite.png) no-repeat -368px -8px;
}
.owl-next{
	position: absolute;
	top: 22%;
	right: -18%;
	background: url(../images/image-sprite.png) no-repeat -325px -8px;
}
.owl-prev:hover,.owl-next:hover{
	opacity:0.5;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url(../images/c-arrows.png) no-repeat;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.24
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
	margin-top: 2em;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/* 
 * 	//Core Owl Carousel CSS File
 *	v1.24
 */
/* Demo */
.wmuSlider,
.wmuGallery {
    margin-bottom: 20px;
}

/* mwuSlider */
.wmuSlider {
    position: relative;
	overflow: hidden;
	margin: 4em 0 2em;
}
.wmuSlider .wmuSliderWrapper {
    display: none;
}
.wmuSlider .wmuSliderWrapper article {
    position: relative;
	text-align: center;
	padding: 0 0em;
}
.wmuSlider .wmuSliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* mwuGallery */
.wmuGallery .wmuGalleryImage {
    position: relative;
    text-align: center;
}
.wmuGallery .wmuGalleryImage img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Default Skin */
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 40px;
    height: 61px;
    text-indent: -9999px;
    background: url(../images/image-sprite.png) no-repeat -411px -10px;
    top: 50%;
    margin-top: -40px;
    z-index: 2;
    cursor:pointer;
}
.wmuSliderPrev {
    background: url(../images/image-sprite.png) no-repeat -453px -10px;
    left: 20px;
}
.wmuSliderNext {
    right: 20px;
}
.wmuSliderPagination {
   z-index: 2;
	position: absolute;
	left: 17%;
	top: 57%;
}
.wmuSliderPagination li {
    float: left;
    margin: 0 5px 0 0;
    list-style-type: none;
}
.wmuSliderPagination a {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: url(../images/sprites.png) no-repeat 0 -80px;
}
.wmuSliderPagination a.wmuActive {
    background-position: -10px -80px;
}
/*--//--*/
/*--colorswitcher--*/
.colorswitcher ul li{
	display:block;
}
.colorswitcher ul li a{
	width:40px;
	height:40px;
	display:block;
}
.red{
	background: url(../images/color-combo.png) no-repeat -3px -1px;
}
.yellow{
	background: url(../images/color-combo.png) no-repeat -57px -1px;
}
.black{
	background: url(../images/color-combo.png) no-repeat -109px -1px;
}
.gray{
	background: url(../images/color-combo.png) no-repeat -171px -1px;
}
.color-blue {
	color: #5959ce;	
}
.color-green {
	color: green;	
}
.color-purple {
	color: purple;	
}
.ion-bullet{
	font-size: 5rem;
}
.theam-colors{
	float:left;
	width:40%;
}
.theam-bgs{
	float:right;
	width: 50%;
}
.red-bg{
	background:url(../images/bg-thumb.jpg) no-repeat 0px 0px;
}
.yellow-bg{
	background:url(../images/bg-thumb1.jpg) no-repeat 0px 0px;
}
.black-bg{
	background:url(../images/bg-thumb2.jpg) no-repeat 0px 0px;
}
.gray-bg{
	background:url(../images/bg-thumb3.jpg) no-repeat 0px 0px;
}
/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	tooltip
*/
.defaultTheme {
	background:#eee;
	color:#000;
	margin:0;
	padding:6px 12px;	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
}
/* 
	//tooltip
*/
#slideout {
	position: fixed;
	top: 32%;
	left: 0;
	padding: 0.5em;
	text-align: center;
	background: #000000;
	outline: none;
}
#slideout_inner {
	position: fixed;
	top: 32%;
	left: -250px;
	background: #000;
	width: 100px;
	padding: 0.5em 0em 0.5em 0.5em;
	text-align: left;
}
#slideout:hover {
	left: 107px;
}
#slideout:hover #slideout_inner {
	left: 0;
}
/*** move top **/
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 13px;
	right: 15px;
	overflow: hidden;
	width: 33px;
	height: 18px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 37px;
	height: 16px;
	height: 48px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*----start-responsive-design----*/
@media only screen and (max-width:1440px) and (min-width:1366px){
	.wrap {
		width: 80%;
	}
}
@media only screen and (max-width:1366px) and (min-width:1280px){
	.wrap {
		width: 80%;
	}
	.top-header {
		padding: 3em 0 3em;
	}
	.menu_box_list {
		padding: 9.2em 0;
	}
	.fea-video p {
		width: 45%;
	}
	.slider .inner p {
		width: 97%;
	}
	.header-welcome-note h2 {
		font-size: 3em;
	}
	.top-grids {
		padding: 4em 0 4.5em;
	}
	.works {
		padding: 4em 0;
	}
	.fea-video {
		padding: 5em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
}
@media only screen and (max-width:1280px) and (min-width:1024px){
	.wrap {
		width: 80%;
	}
	.top-header {
		padding: 3em 0 3em;
	}
	.menu_box_list {
		padding: 9.2em 0;
	}
	.fea-video p {
		width: 45%;
	}
	.slider .inner p {
		width: 97%;
	}
	.header-welcome-note h2 {
		font-size: 3em;
		width: 33%;
	}
	.top-grids {
		padding: 4em 0 4.5em;
	}
	.works {
		padding: 4em 0;
	}
	.fea-video {
		padding: 5em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
}
@media only screen and (max-width:1024px) and (min-width:768px){
	.wrap {
		width: 80%;
	}
	.top-header {
		padding: 3em 0 3em;
	}
	.menu_box_list {
		padding: 7.2em 0;
	}
	a.boxclose {
		right: 3em;
	}
	.fea-video p {
		width: 52%;
	}
	.slider .inner p {
		width: 97%;
	}
	.header-welcome-note h2 {
		font-size: 3em;
		margin: 1.5em 0 1em;
	}
	.top-grids {
		padding: 3em 0 3.5em;
	}
	.works {
		padding: 3em 0;
	}
	.fea-video {
		padding: 4em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
	.top-grid p {
		width: 100%;
	}
	.top-grid p.welcome-para {
		margin: 2em 0 2em;
	}
	.get-intouch-center-form input[type="text"] {
		width: 48.5%;
	}
}
@media only screen and (max-width:768px) and (min-width:640px){
	.wrap {
		width: 80%;
	}
	.top-header {
		padding: 3em 0 3em;
	}
	.menu_box_list {
		padding: 6.6em 0;
	}
	a.boxclose {
		right: 3em;
	}
	.fea-video p {
		width: 69%;
	}
	.slider .inner p {
		width: 97%;
		padding: 0.5em 0em;
	}
	.header-welcome-note h2 {
		font-size: 2.8em;
		margin: 1.5em 0 1em;
	}
	.top-grids {
		padding: 2em 0 2.5em;
	}
	.works {
		padding: 2em 0;
	}
	.fea-video {
		padding: 4em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
	.top-grid p {
		width: 100%;
	}
	.top-grid p.welcome-para {
		margin: 1em 0 1em;
	}
	.get-intouch-center-form input[type="text"] {
		width: 48.5%;
	}
	/*----*/
	.top-grid {
		width:100%;
		margin-right:0%;
		float: none;
	}
	.artical-info {
		float: none;
		width:100%;
		text-align:left;
		padding: 0 2%;
	}
	.artical-info p {
		margin: 1em 0 1em;
	}
	.artical-pic {
		float: none;
		width:100%;
		padding:2% 0;
	}
	.wmuSlider {
		margin: 1em 0 1em;
	}
	.item-left {
		width:100%;
		float: none;
		padding: 0 0% 0 0;
	}
	.item-left p {
		margin: 1em 0 1em;
	}
	#owl-demo .item {
		margin: 0em;
	}
	.item-center {
		width: 100%;
		float: none;
		margin:2% 0;
	}
	.owl-carousel .owl-item {
		float: left;
		margin-top: 0em;
	}
	.item-right {
		width:100%;
		padding:0em;
	}
	.quot {
		padding: 1em;
	}
	.item-right ul {
		margin-top:0em;
		padding: 0 1em 1em;
	}
	.owl-prev,.owl-next{
		top: 41%;
	}
	.slider-mask-wrap {
		margin: 0 0px;
	}
	.get-intouch {
		margin: 2em 0 0;
	}
	.get-intouch-left-address {
		float: none;
		width:100%;
		padding-right: 0%;
	}
	.get-intouch h3 {
		margin-bottom: 0.8em;
	}
	#selector {
		margin: 2em 0 0em;
	}
	.get-intouch-center-form {
		float: none;
		width:100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-center-form {
		float: none;
		width: 100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-right-social ul li{
		display:inline-block;
	}
	.get-intouch-right-social {
		float: none;
		width:100%;
		text-align:left;
		margin-top: 1em;
	}
	.map {
		margin-top: 2em;
	}
}
@media only screen and (max-width:640px) and (min-width:480px){
	.wrap {
		width: 80%;
	}
	.top-header {
		padding: 3em 0 3em;
	}
	.menu_box_list {
		padding: 5.8em 0;
	}
	a.boxclose {
		right: 3em;
	}
	.fea-video p {
		width: 82%;
	}
	.slider .inner p {
		width: 97%;
		padding: 0.5em 0em;
	}
	.header-welcome-note h2 {
		font-size: 2.6em;
		width: 63%;
		margin: 1.5em 0 1em;
	}
	.top-grids {
		padding: 2em 0 2.5em;
	}
	.works {
		padding: 2em 0;
	}
	.fea-video {
		padding: 4em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
	.top-grid p {
		width: 100%;
	}
	.top-grid p.welcome-para {
		margin: 1em 0 1em;
	}
	.get-intouch-center-form input[type="text"] {
		width: 48.5%;
	}
	/*----*/
	.top-grid {
		width:100%;
		margin-right:0%;
		float: none;
	}
	.artical-info {
		float: none;
		width:100%;
		text-align:left;
		padding: 0 2%;
	}
	.artical-info p {
		margin: 1em 0 1em;
	}
	.artical-pic {
		float: none;
		width:100%;
		padding:2% 0;
	}
	.wmuSlider {
		margin: 1em 0 1em;
	}
	.item-left {
		width:100%;
		float: none;
		padding: 0 0% 0 0;
	}
	.item-left p {
		margin: 1em 0 1em;
	}
	#owl-demo .item {
		margin: 0em;
	}
	.item-center {
		width: 100%;
		float: none;
		margin:2% 0;
	}
	.owl-carousel .owl-item {
		float: left;
		margin-top: 0em;
	}
	.item-right {
		width:100%;
		padding:0em;
	}
	.quot {
		padding: 1em;
	}
	.item-right ul {
		margin-top:0em;
		padding: 0 1em 1em;
	}
	.owl-prev,.owl-next{
		top: 41%;
	}
	.slider-mask-wrap {
		margin: 0 0px;
	}
	.get-intouch {
		margin: 2em 0 0;
	}
	.get-intouch-left-address {
		float: none;
		width:100%;
		padding-right: 0%;
	}
	.get-intouch h3 {
		margin-bottom: 0.8em;
	}
	#selector {
		margin: 2em 0 0em;
	}
	.get-intouch-center-form {
		float: none;
		width:100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-center-form {
		float: none;
		width: 100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-right-social ul li{
		display:inline-block;
	}
	.get-intouch-right-social {
		float: none;
		width:100%;
		text-align:left;
		margin-top: 1em;
	}
	.map {
		margin-top: 2em;
	}
	.wmuSliderPrev, .wmuSliderNext {
		margin-top: -1px;
	}
}
@media only screen and (max-width:480px) and (min-width:320px){
	.wrap {
		width: 85%;
	}
	.top-header {
		padding: 2em 0 2em;
	}
	.menu_box_list {
		padding: 5em 0;
	}
	a.boxclose {
		right: 3em;
	}
	.fea-video p {
		width: 90%;
		font-size:1.2em;
	}
	.slider .inner p {
		width: 97%;
		padding: 0.5em 0em;
	}
	.header-welcome-note h2 {
		font-size: 2.2em;
		margin: 1.4em 0 1em;
	}
	.top-grids {
		padding: 2em 0 2.5em;
	}
	.works {
		padding: 2em 0;
	}
	.fea-video {
		padding: 3em 0;
	}
	.owl-next {
		right: -11%;
	}
	.owl-prev{
		left: -11%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
	.top-grid p {
		width: 100%;
	}
	.top-grid p.welcome-para {
		margin: 1em 0 1em;
	}
	.get-intouch-center-form input[type="text"] {
		width: 48.4%;
		-webkit-appearance:none;
	}
	/*----*/
	.top-grid {
		width:100%;
		margin-right:0%;
		float: none;
	}
	.artical-info {
		float: none;
		width:100%;
		text-align:left;
		padding: 0 2%;
	}
	.artical-info p {
		margin: 1em 0 1em;
	}
	.artical-pic {
		float: none;
		width:100%;
		padding:2% 0;
	}
	.wmuSlider {
		margin: 1em 0 1em;
	}
	.item-left {
		width:100%;
		float: none;
		padding: 0 0% 0 0;
	}
	.item-left p {
		margin: 1em 0 1em;
	}
	#owl-demo .item {
		margin: 0em;
	}
	.item-center {
		width: 100%;
		float: none;
		margin:2% 0;
	}
	.owl-carousel .owl-item {
		float: left;
		margin-top: 0em;
	}
	.item-right {
		width:100%;
		padding:0em;
	}
	.quot {
		padding: 1em;
	}
	.item-right ul {
		margin-top:0em;
		padding: 0 1em 1em;
	}
	.owl-prev,.owl-next{
		top: 41%;
	}
	.slider-mask-wrap {
		margin: 0 0px;
	}
	.get-intouch {
		margin: 2em 0 0;
	}
	.get-intouch-left-address {
		float: none;
		width:100%;
		padding-right: 0%;
	}
	.get-intouch h3 {
		margin-bottom: 0.2em;
	}
	#selector {
		margin: 2em 0 0em;
	}
	.get-intouch-center-form {
		float: none;
		width:100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-center-form {
		float: none;
		width: 100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-right-social ul li{
		display:inline-block;
	}
	.get-intouch-right-social {
		float: none;
		width:100%;
		text-align:left;
		margin-top: 1em;
	}
	.map {
		margin-top: 2em;
	}
	.wmuSliderPrev, .wmuSliderNext {
		display:none;
	}
	#slideout {
		top: 10%;
	}
	#slideout_inner {
		top: 10%;
	}
	.menu_box_list li a {
		font-size: 1.5em;
	}
	.blog-info {
		padding: 2em 0;
	}
	.get-intouch-center-form h5 {
		margin: 0.3em 0 00em 0;
	}
	.copy-right-left,.copy-right-right{
		float: none;
		text-align:center;
	}
	.copy-right-right {
		margin-top:0.5em;
	}
	.copy-right {
		padding: 1em 0;
	}
}
@media only screen and (max-width:320px) and (min-width:240px){
	.wrap {
		width: 85%;
	}
	.top-header {
		padding: 1em 0 1em;
	}
	.menu_box_list {
		padding: 3.6em 0;
	}
	a.boxclose {
		right: 3em;
	}
	.fea-video p {
		width: 90%;
		font-size: 1em;
	}
	.slider .inner p {
		width: 97%;
		padding: 0.5em 0em;
	}
	.header-welcome-note h2 {
		font-size: 2em;
		margin: 1em 0 1em;
	}
	.top-grids {
		padding: 1em 0 1.5em;
	}
	.works {
		padding: 2em 0;
	}
	.fea-video {
		padding: 2em 0;
	}
	.owl-next {
		right: -1%;
	}
	.owl-prev{
		left: -1%;
	}
	.test-monials-grids {
		padding: 2em 0;
	}
	.top-grid p {
		width: 100%;
	}
	.top-grid p.welcome-para {
		margin: 0.5em 0 0.5em;
		width:100%;
	}
	.get-intouch-center-form input[type="text"] {
		width: 100%;
		-webkit-appearance:none;
	}
	.top-grid h4 {
		margin: 0.5em 0 0.3em 0;
	}
	/*----*/
	.top-grid {
		width:100%;
		margin-right:0%;
		float: none;
	}
	.artical-info {
		float: none;
		width:100%;
		text-align:left;
		padding: 0 2%;
	}
	.artical-info p {
		margin: 1em 0 1em;
	}
	.artical-pic {
		float: none;
		width:100%;
		padding:2% 0;
	}
	.wmuSlider {
		margin: 0.5em 0 0.5em;
	}
	.item-left {
		width:100%;
		float: none;
		padding: 0 0% 0 0;
	}
	.item-left p {
		margin: 1em 0 1em;
	}
	#owl-demo .item {
		margin: 0em;
		padding:1em 0;
	}
	.item-center {
		width: 100%;
		float: none;
		margin:2% 0;
	}
	.owl-carousel .owl-item {
		float: left;
		margin-top: 0em;
	}
	.item-right {
		width:100%;
		padding:0em;
	}
	.quot {
		padding: 1em;
	}
	.item-right ul {
		margin-top:0em;
		padding: 0 1em 1em;
	}
	.owl-prev,.owl-next{
		top: 29%;
	}
	.slider-mask-wrap {
		margin: 0 0px;
	}
	.get-intouch {
		margin: 2em 0 0;
	}
	.get-intouch-left-address {
		float: none;
		width:100%;
		padding-right: 0%;
	}
	.get-intouch h3 {
		margin-bottom: 0.2em;
		font-size:1.5em;
	}
	#selector {
		margin: 2em 0 0em;
	}
	.get-intouch-center-form {
		float: none;
		width:100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-center-form {
		float: none;
		width: 100%;
		padding: 0 0% 0 0%;
	}
	.get-intouch-right-social ul li{
		display:inline-block;
	}
	.get-intouch-right-social {
		float: none;
		width:100%;
		text-align:left;
		margin-top: 1em;
	}
	.map {
		margin-top: 2em;
	}
	.wmuSliderPrev, .wmuSliderNext {
		display:none;
	}
	#slideout {
		top: 20%;
	}
	#slideout_inner {
		top: 20%;
	}
	.menu_box_list li a {
		font-size: 1.5em;
	}
	.blog-info {
		padding: 1em 0;
	}
	.get-intouch-center-form h5 {
		margin: 0.3em 0 00em 0;
	}
	.copy-right-left,.copy-right-right{
		float: none;
		text-align:center;
	}
	.copy-right-right {
		margin-top:0.5em;
	}
	.copy-right {
		padding: 1em 0;
	}
	.top-grids h3 span {
		width: 6.5%;
	}
	.right_bt span {
		margin-top: 0.5em;
	}
	.works h2 {
		font-size: 1.5em;
	}
	.artical-info h4 {
		color: #FFF;
		font-size: 1em;
		width:100%;
	}
	.artical-pic-head-left {
		float:none;
	}
	.artical-pic-head-right {
		float: none;
		margin-top:0.5em;
		text-align:left;
	}
	.artical-pic p {
		width: 100%;
		margin: 0.5em 0;
	}
	.fea-video a {
		margin-bottom: 0.5em;
	}
	.blog-info h3 {
		font-size: 1.5em;
	}
	.item-left h4 {
		color: #000;
		font-size: 1.2em;
		margin: 0em 0 0.2em 0;
	}
	.owl-controls .owl-buttons div {
		display:none;
	}
	.blog-post-info-left {
		width: 25%;
	}
	.blog-post-info-right {
		width: 71%;
	}
	.blog-post-info-right h4 a {
		font-size: 1.2em;
	}
	.blog-info h3 span {
		width: 5.5%;
	}
}
/*--portfolio start here--*/
.portfolio-top {
	text-align: center;
	padding: 0px 0px 50px 0px;
}
.portfolio-top h3 {
	font-size: 35px;
	font-weight: 400;
	color: #ff6161;
	margin: 0px 0px 10px 0px;
}
.portfolio-top p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	line-height: 1.8em;
	width: 80%;
	margin: 0 auto;
}
.port-img {
	float: left;
	width: 33%;
	margin: 0px 0px 15px 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:0%;
	display: -webkit-inline-box;
}
h2.b-animate.b-from-left.b-delay03 {
	padding-top: 8em;
	font-size: 15px;
	color: #fff;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
/******** SAP ************/
.tab_img {
    padding: 2em 0 0;
}
.sap_tabs{
	clear:both;
	padding:2em 0 0em;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
text-align:center;
  list-style: none;
    margin: 0 0 3em 0;
    padding: 0;
}
.resp-tab-item{
	color:#fff;
	font-size: 1em;
	font-weight:400;
	cursor: pointer;
	padding: 6px 25px ;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
	margin: 0 0.5em 0;
}
.resp-tab-active{
  text-shadow: none;
  color:#000;
}
.resp-tabs-container {
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.17);
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.img-top {
    margin-bottom: 20px;
}
.img-top {	
	  position: relative;
}
.img-top {
    padding: 0 10px !important;
    float: left;
    width: 31.5%;
}
.link-top{
	position: absolute;
 top: 0%;
  text-align: center;
  width: 95%;
  background:rgba(111, 127, 163, 0.59);
  height: 100%;
    padding: 6.2em 0 0;
  display: none;
}
 i.link {
  background: url(../images/sea.png)no-repeat 0px 0px ;
  width: 33px;
  height: 33px;
  display: inline-block;
 
}
.img-top:hover .link-top{
	display: block;
}

/*--team--*/
.team{
	background:#fff;
	padding:0 0 9% 0;
}
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li {
		display: -webkit-inline-box;
		margin:0 10px;
}
#filters li span {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none;
		color: #000;
		cursor: pointer;
		font-size: 1em;
		font-weight: 400;
		text-transform:uppercase;
		
}
#filters li span.active {
		color: #ff6161;
		border:none;
}
#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 33%;
		display:none;
		float:left;
		overflow:hidden;
}
div#portfoliolist {
		padding: 10px 0px;
}	
.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
		margin:0.5em 0.5em 0px 0px;
}
.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
}
.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
}
.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
}
.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
}
			
.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.b-wrapper:hover {
	background: rgba(111, 127, 163, 0.59);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- MIXTUP PART --*/
@media(max-width:1024px){
.img-top {
    width: 30.7%;
}
}
@media(max-width:768px){
h2.b-animate.b-from-left.b-delay03 {
	padding-top: 6em;	
}
.img-top {
    width: 30%;
}
.resp-tab-item {
    padding: 6px 4px;
}
}
@media(max-width:640px){
.portfolio-top p {
	font-size: 15px;
	width: 95%;	
}
.img-top {
    width: 29.3%;
}
.portfolio-top {
	padding: 0px 0px 25px 0px;
}
#filters li span {
	padding: 0.5em 0em;
}
h2.b-animate.b-from-left.b-delay03 {
	padding-top: 5em;
}
}
@media(max-width:480px){
#filters li span {
	font-size: 0.78em;	
}
.portfolio-top h3 {
	font-size: 28px;
}
.portfolio-top p {
	font-size: 14px;
	overflow: hidden;
	height: 46px;
}
h2.b-animate.b-from-left.b-delay03 {
	padding-top: 3em;
}
.portfolio-top {
	padding: 0px 0px 10px 0px;
}
.img-top {
    width: 42.3%;
}
}
@media(max-width:320px){
#portfoliolist .portfolio {
	width: 50%;
}
#filters li {
	margin: 0px 3px;
}
#filters li span {
	font-size: 0.55em;
}
ul#filters {
	margin: 0.5em 0;
}
.portfolio-top h3 {
	font-size: 25px;
}
.img-top {
    width: 41.3%;
}
.sap_tabs {
    padding: 1em 0 0em;
}
.resp-tab-item {
    padding: 6px 0px;
	font-size:0.875em;
}
}
/*--portfolio end here--*/