body {
  background: #fff;
 	color:#333;
  height: auto!important;
}

a {
  color:#333;
}

a:hover {
  color:#222;
  text-decoration: none;
}

.top-notifications {
  position: absolute;
  display: inline-block;
  background: transparent;
  width: 80%;
  list-style: none;
  padding: 0;
}

.top-notifications li {
  color: #fff;
  background: #51C887;
  opacity: 0;
  display: inline-block;
  padding: 4px 16px;
}

#calendar {
  margin-top: 1.3em;
}

.footer a {
  padding:10px 5px;
  font-size: 1.2em;
}

.navbar-nav {
  margin-bottom: 0;
}

.content-height {
  opacity:0.1;  
}

.text-muted-green {
  color:#98c8cc;
  font-family: "Gibson";
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #3C9A3B;
  border-width: 2px;
}

.navbar-inverse .navbar-toggle {
  border-color: #409344;
  color: #0C9716;
  border-width: 2px;
}

.navbar-inverse.admin a span.typcn {
  font-size: 1.5em;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #9BFEAF;
}

.pills .panel {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.pills .panel .badge {
  position: absolute;
  top: 1em;
  left: 3.5em;
  opacity: 0.9;
  font-size: 20px;
  background-color: #f8f8f8;
  border-radius: 20px;
  color:#ccc;
}

.pills h1 {
  margin: 0;
}

.pills h1 span {
  font-size: 2em;
  min-height: 79px;
}

.pills h3 {
  margin: 0 0.3em;
  font-weight: 600;
  font-size: 1.3em;
  color: #999;  
}

.table .form button, .table .form a {
  white-space: nowrap;
}

.pills .panel:hover {
  background-color: #8050a7;
  color:#f9f9f9;
  border-color: #8050a7;
}

.pills .panel:hover h3 {
  color:#f9f9f9;
}

.btn-lang {
  font-size: 1.4em;
  margin-top: 9px;
  color: #FFFFFF!important;
}

.container {
  height: 100%;
}
.content {
  font-size: 0.888887em;
}

.navbar {
  height: auto!important;
}

.navbar-right {
  margin-top: 0.7em;
}

.navbar-inverse.admin {
  box-shadow: inset 0 -5px 50px rgba(0, 0, 0, 0.12);
  background: url(/images/bg/page-bg-21.jpg) top center no-repeat;  
  background-size: cover;
}

.navbar-inverse.admin .section-me { 
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 4px;
  right: 0;
}

.navbar-inverse.admin .section-me a, .navbar-inverse.admin .section-me span { 
  padding: 0;
  font-size: 12px;
}

.navbar-select {
  margin-top: 3px;
}

.navbar-header a {
  font-size: 2em;
  letter-spacing: -1px;
  color: #fff;
  /*text-shadow: 0 -1px 1px rgba(155, 255, 255, 0.35), 0 1px 1px rgba(155, 155, 155, 0.45);*/
}

.navbar-header a h4 {
  float: right;
  padding-left: 1.4em;
  font-size: 12px;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  font-weight: bold;
}

.navbar .dropdown {
    margin-top: -6px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #BBB;
  vertical-align: middle!important;
}

.tags-included a, .tags-excluded a{
	margin-right: 5px;
  line-height: 15px;
  margin-bottom: 5px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #ECD496;
  border-color: #F4C889;
  color: #4A2806;
  border-width: 2px;
}

.list-group-item {
  position: relative;
  padding-left: 50px;
  border: 1px solid #D2CEC9;
  color: #7F5903;
}

a.list-group-item:hover, a.list-group-item:focus {
  color: #fff;
  background-color: #8050a7;
}

a.list-group-item .typcn {
  position: absolute;
  left: 10px;
  top: 7px;  
  font-size: 130%;
  background-color: #f0eef1;
  border-radius: 20px;
  width: 25px;
  padding-left: 4px;  
}

a.list-group-item:hover .typcn, a.list-group-item:hover .ion, .list-group-item.active .typcn {
  left: -25px;
  top: -13px;
  display: inline;
  font-size: 250%;
  background-color: rgba(241, 238, 241, 0.1);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  padding-left: 29px;  
  padding-top: 8px;  
}