
/* css switch */
.onoffswitch {
    position: relative; 
    width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    zoom: 0.75;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    padding: 0;
    /*border: 2px solid #d6d6d6; */
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    /*font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;*/
    font-size: 14px;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    height: 40px;
    line-height: 3em;

    padding-left: 14px;
    background-color: #34A7C1; 
    color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "NO";
    height: 40px;
    line-height: 3em;
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 25px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 2px; 
    bottom: 2px;
    right: 35px;
    /*border: 2px solid #d6d6d6;*/
    border-radius: 20px;
    box-shadow: 0 0 4px #666;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 2px; 
}

/* small */

.onoffswitch-sm .onoffswitch-inner:before, .onoffswitch-sm .onoffswitch-inner:after{
    height: 25px!important;
    padding-right: 10px!important;
    line-height: 2em!important;
}

.onoffswitch-sm .onoffswitch-switch {
    width: 10px!important; 
    height: 10px;
    right: 50px;
}
