                    <!-- SLIDE 1-->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0">
                        <!-- MAIN IMAGE -->
                        <img alt="Slide1" src="images/slide1bg.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <!-- SECONDARY IMAGE -->
                        <div class="slideImg tp-resizeme customin customout tp-caption"
                            data-x="870" data-y="95" data-speed="1000" data-start="200"
                            data-customin="x:200px;y:200px;"
                            data-customout="x:200px;y:200px;"
                            data-easing="easeOutExpo">
                            <img alt="iPad" src="images/slideImg1.png" />
                        </div>

                        <!-- TEXT LINE 1 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="400" data-speed="1000" data-start="600"
                            data-easing="easeOutExpo">
                            We make
                        </div>

                        <!-- TEXT LINE 2 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="520" data-speed="1000" data-start="800"
                            data-easing="easeOutExpo">
                            websites& apps
                        </div>

                        <!-- TEXT LINE 3 -->
                        <div class="mediumText imgArrowOffset tp-resizeme lft ltt tp-caption"
                            data-x="450" data-y="625" data-speed="1000" data-start="1000"
                            data-easing="easeOutExpo">
                            <a href="#sFeaturedWork">See what we have done so far.</a>
                        </div>

                        <!-- ARROW ON TEXT LINE 3 -->
                        <div class="slideImgArrow tp-resizeme lfb ltt tp-caption"
                            data-x="375" data-y="620" data-speed="2000" data-start="700"
                            data-easing="Elastic.easeOut">
                            <a href="#sFeaturedWork">
                                <img alt="Go to portfolio" src="images/arrow_down.png" /></a>
                        </div>
                    </li>

                    <!-- SLIDE 2-->
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="200">
                        <!-- MAIN IMAGE -->
                        <img alt="Slide1" src="images/slide2bg.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <!-- SECONDARY IMAGE -->
                        <div class="slideImg tp-resizeme customin customout tp-caption"
                            data-x="1070" data-y="295" data-speed="1000" data-start="0"
                            data-customin="x:-200px;y:-200px;"
                            data-customout="x:-200px;y:-200px;"
                            data-easing="easeOutExpo">
                            <img alt="iPad" src="images/slideImg1.png" />
                        </div>

                        <!-- SECONDARY IMAGE -->
                        <div class="slideImg tp-resizeme customin customout tp-caption"
                            data-x="1147" data-y="385" data-speed="1000" data-start="1000"
                            data-customin="scaleX:0;scaleY:0;"
                            data-customout="scaleX:0;scaleY:0;"
                            data-easing="easeOutExpo">
                            <img alt="iPad App" src="images/ipadApp.png" />
                        </div>
                        <!-- TEXT LINE 1 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="400" data-speed="1000" data-start="500"
                            data-easing="easeOutExpo">
                            Perfect
                        </div>

                        <!-- TEXT LINE 2 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="520" data-speed="1000" data-start="600"
                            data-easing="easeOutExpo">
                            for all devices
                        </div>

                        <!-- TEXT LINE 3 -->
                        <div class="mediumText imgArrowOffset tp-resizeme lft ltt tp-caption"
                            data-x="450" data-y="620" data-speed="1000" data-start="700"
                            data-easing="easeOutExpo">
                            <a href="#sFeaturedWork">See what we have done so far.</a>
                        </div>

                        <!-- ARROW ON TEXT LINE 3 -->
                        <div class="slideImgArrow tp-resizeme lfb ltt tp-caption"
                            data-x="375" data-y="620" data-speed="2000" data-start="700"
                            data-easing="Elastic.easeOut">
                            <a href="#sFeaturedWork">
                                <img alt="Go to portfolio" src="images/arrow_down.png" /></a>
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="300">
                        <!-- MAIN IMAGE -->
                        <img alt="Slide1" src="images/slide3bg.jpg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                        <!-- SECONDARY IMAGE -->
                        <div class="slideImg tp-resizeme customin customout tp-caption"
                            data-x="1152" data-y="-12" data-speed="1000" data-start="0"
                            data-customin="x:-8px;y:395px;rotationX:-45;scaleX:2;scaleY:2"
                            data-customout="x:-8px;y:395px;"
                            data-easing="easeOutExpo">
                            <img alt="iPad" src="images/iphone.png" />
                        </div>

                        <!-- TEXT LINE 1 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="425" data-speed="1000" data-start="500"
                            data-easing="easeOutExpo">
                            <span class="yellowColor">untitled</span> is
                        </div>

                        <!-- TEXT LINE 2 -->
                        <div class="bigText tp-resizeme lft ltt tp-caption"
                            data-x="375" data-y="520" data-speed="1000" data-start="600"
                            data-easing="easeOutExpo">
                            ultra responsive.
                        </div>

                        <!-- TEXT LINE 3 -->
                        <div class="mediumText imgArrowOffset tp-resizeme lft ltt tp-caption"
                            data-x="450" data-y="620" data-speed="1000" data-start="700"
                            data-easing="easeOutExpo">
                            <a href="#sFeaturedWork">See the other awesome features.</a>
                        </div>

                        <!-- ARROW ON TEXT LINE 3 -->
                        <div class="slideImgArrow tp-resizeme lfb ltt tp-caption"
                            data-x="375" data-y="620" data-speed="2000" data-start="700"
                            data-easing="Elastic.easeOut">
                            <a href="#sFeaturedWork">
                                <img alt="Go to portfolio" src="images/arrow_down.png" /></a>
                        </div>
                    </li>